.border-pane {
    -fx-background-color: linear-gradient(to bottom right, #36D1DC, #5B86E5);
}

.menu-bar {
    -fx-background-color: skyblue;
}

.menu-bar .menu {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.menu-bar .menu .menu-item {
    -fx-text-fill: white;
}

.v-box {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-background-radius: 15;
}

.v-box .button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-cursor: hand;
    -fx-padding: 10 20 10 20;
}

.v-box .button:hover {
    -fx-background-color: #45A049;
}

.stack-pane {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-background-radius: 20;
    -fx-padding: 20;
}

.stack-pane .label {
    -fx-font-size: 24px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}
